Bienvenue sur la page Home


voici les différentes options :

<h1><a href='localhost:8000/?p=edit_category&id=1'>EditCategory</a></h1><br>

<h2><a href='localhost:8000/?p=edit_category&id=1'>GetAllCategories</a></h2><br>

<h3><a href="localhost:8000/?p=posts">Getarticles</a></h3><br>

